
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  background: transparent;
}

.flex-container div:last-child {
  margin-left: auto;
}

#green_glass:hover{
  cursor:-webkit-grab;
}

textarea {
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
  background: transparent;
}

#circles{
  width: auto;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: inline-block
}

textarea:focus, input:focus{
    outline: none;
}

body{
  background-color: white;
}
#top{
  width:100%;
  height: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}


#points{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #54b948;
  font-family: district-pro, sans-serif;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size:36px;
  border-color: transparent;
  float: right;
  margin: 10px;
  /* order: 0;
  flex: 0 1 auto;
  align-self: auto; */
  
  
}

#txt{
  visibility:hidden;
  position: absolute;
  width: auto;
  height: 75px;
  resize: none;
  background-color: transparent;
  font-size: 300%;
  font-family: district-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

#green_glass{
  font-size: 300%;
  font-family: district-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.dot{
  height: 37.5px;
  width: 37.5px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  text-align: center;
  vertical-align: top;
  font-size: 22.5px;
  font-family: district-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: white; */
}


.input{
  border-width: 0px;
}

.row{
  position: relative;
  background-color: green;
  width: 100%;
  height: 100%;
}

.connector_h{
  height:37.5px;
  width: 37.5px;
  position: absolute;
  background-color:transparent;
  border-radius: 25px;
}

.connector_v{
  height:37.5px;
  width: 37.5px;
  position: absolute;
  background-color:transparent;
  border-radius: 25px;
}

#solution{
  position: relative;
  width: 100%;
  height: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: gray;
  font-family: district-pro, sans-serif;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 190%;
  border-color: transparent;
  float: right;
  margin: 10px;
  /* order: 0;
  flex: 0 1 auto;
  align-self: auto; */
}

p{
  font-family: district-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size:20px;
  border-color: transparent;
}

#rules{
  
  font-family: district-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
  font-size:36px;
  border-color: transparent;
}

.flex-containerm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    html {
      background: #363436;
    }
    #top{
      background: #363436;
    }
    .flexcontainerm{
      background: #363436;
    }
    #txt{
      color:white;
    }
    .modal-content{
      background-color:#363436;
    }
    #rules{
      color:white;
    }
    p{
      color:white;
    }
    #green_glass{
      color:white;
    }
}