#answer{
  background-color:white;
  width: 100px;
  height: 100px;
}

.dot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: blue;
  display: inline-block;
  margin: 2.5px;
  position: relative;
}

.row{
  position: relative;
}

.connector_h{
  height:25px;
  width: 0px;
  position: absolute;
  background-color:red;
  top: 2.5px;
  left: 15px;
}


#solution{
  position: relative;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 10px;
  padding: 10px;
}
