#answer{
  background-color:white;
  width: 100px;
  height: 100px;
}

#top{
  position: relative;
}

#green_glass:hover{
  cursor:-webkit-grab;
}

textarea {
    border: none;
    overflow: hidden;
    outline: none;
    position: absolute;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea:focus, input:focus{
    outline: none;
}

body{
  background-color: white;
}
#top{
  width:100%;
  height: 100px;
}

#points{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #54b948;
  display: inline-block;
  position: absolute;
  text-align: center;
  vertical-align: top;
  bottom: 25px;
  right:0px;
  font-family: district-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size:36px;
}

#txt{
  visibility:hidden;
  position: absolute;
  width: 750px;
  height: 75px;
  resize: none;
  font-size: 50px;
  font-family: district-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

#green_glass{
  position: absolute;
  font-size: 50px;
  font-family: district-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.dot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  font-family: district-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: white; */
}


.input{
  border-width: 0px;
}

.row{
  position: relative;
  background-color: green;
  width: 100%;
  height: 100%;
}

.connector_h{
  height:25px;
  width: 25px;
  position: absolute;
  background-color:transparent;
  top: 2.5px;
  left: 15px;
  border-radius: 12.5px;
}

.connector_v{
  height:25px;
  width: 25px;
  position: absolute;
  background-color:transparent;
  top: 0px;
  left: 0px;
  border-radius: 12.5px;
}

#solution{
  position: relative;
  width: 303px;
  height: 100%;
  margin-top: 10px;
}
